<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.certificateQuery.dao.CertificateDao">

	<!-- 查找 -->
	<select id="findCertificates" parameterType="java.lang.Integer"
		resultType="com.certificateQuery.model.Certificate">
		select * from certificateTbl LIMIT #{start},#{num}
	</select>

	<!-- 插入 -->
	<insert id="insertCertificate" parameterType="com.certificateQuery.model.Certificate">
		insert into certificateTbl(number,email,address,studentId,isjudged)
		values(#{number,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{studentId,jdbcType=VARCHAR},#{isjudged,jdbcType=VARCHAR})
	</insert>

	<!-- 修改 -->
	<update id="updateCertificate" parameterType="java.lang.String">
		update certificateTbl set isjudged = #{param2} where number =
		#{param1}
	</update>

</mapper>  